@import '@/assets/variable.scss';
html,
body {
  font-family: $font-family;
}
.bg {
  &-orange {
    &-sub1 {
      background-color: rgba($orange, 0.35);
    }
    &-sub2 {
      background-color: rgba($orange, 0.25);
    }
    &-sub3 {
      background-color: rgba($orange, 0.15);
    }
  }
}
.sidebar select,
.sidebar input {
  font-size: 14px;
}

// basic tags
a {
  display: inline-block;
  color: $secondary;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: $secondary;
  }
}

ul {
  list-style: none;
}

// layout
.container {
  display: flex;
  padding: 0 1.5rem;
  flex-wrap: wrap;
}


/** layout **/
.row {
  display: flex;
  margin: 0 -.5rem;
}

[class*='col'] {
  padding: 0 .5rem;
}

@for $i from 1 through 12 {
  .col-#{$i} {
    max-width: #{ math.div(round(math.div(100%, 12) * $i * 10000), 10000) };
    flex: 0 0 #{ math.div(round(math.div(100%, 12) * $i * 10000), 10000) };
  }
}

.flex{
  &-shrink-0{
    flex-shrink: 0;
  }
  &-shrink-1{
    flex-shrink: 1;
  }
}

#__layout {
  .main {
    width: 100%;
    transition: width .2s;

    /*&.open-sidebar {
      width: calc(100% - #{$sidebar-width});
    }*/
  }
}

.header {
  position: fixed;
  top: 0;
  z-index: 10;
}

@keyframes slidein-right {
  from { transform: translateX(100%);}
  to { transform: translateX(0);}
}

.side-panel {
  position: fixed;
  z-index: 11;
  right: 0;
  width: $sidebar-width;
  // max-width: $sidebar-width;
  top: 65px;
  bottom: 0;
  background-color: $white;
  box-shadow: 5px 2px 15px $gray6;

  &__header__actions {
    padding: 0.75rem 1.5rem;
  }
}

.side-panel {
  // transform: translateX(100%);
  transition: transform .2s;
}

.open-sidebar .side-panel {
  // transform: translateX(0);
}

.drawer-enter-active {
  animation: slidein-right 0.2s;
}

.drawer-leave-active {
  animation: slidein-right 0.2s reverse;
}

.editable-input {
  width: 99%;
  padding: 0.2rem 0.4rem;
  font-size: $font-size-lg;
  font-weight: 600;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  border-radius: 0.25rem;
  &:hover { border-color: $gray4;}
  &:focus { outline: none; border-color: $dark; box-shadow: 0 0 3px $dark-sub4; }
  &.error { border-color: $danger-sub1; color: $danger;
    &:focus { border-color: $danger-sub1; box-shadow: 0 0 3px $danger-sub2;}
  }
  &.sm { padding: 0.125rem 0.2rem; font-weight: normal; font-size: $font-size-sm; border-radius: 0.1rem; }
  &.loading { background-image: url('./static/spinner.svg'); background-position: right center; background-repeat: no-repeat; background-size: contain;}
}
// task bundle
.task-bundle {
  display: flex;
  padding-left: 0;
  background-color: $gray3;
  border: 1px solid $gray4;
}

.tasks:not(.list) {
  &:not(:first-of-type) {
    border-top: none;
  }

  &:last-of-type:not(:first-of-type) {
    border-bottom: none;
  }
}

.padding-sm .task-item {
  padding: 0 10px;
}

.divider {
  content: "";
  position: absolute;
  top: 0;
  width: 1px;
  height: 100%;
  background-color: $gray6;
}

.bundle-title {
  padding: 10px 16px;
  font-size: 13px;

  span {
    margin-left: 14px;
  }
}

.task-item {
  display: flex;
  position: relative;
  padding: 10px;
  font-size: 13px;
  border-right: 1px solid $gray4;
  align-items: center;

  &.task-name {
    width: 28%;
  }

  &.task-number {
    width: 30px;
    padding: 10px 11px;
  }

  &.task-status,
  &.task-priority,
  &.task-assignee,
  &.task-date {
    width: 16%;
  }

  .custom-control-label::before {
    left: 8px;
  }


}

// colors
.bg-red {
  background: $red;
}

.bg-green {
  background: $green;
}

.bg-orange {
  background: $orange;
}

.bg-blue {
  background: $blue;
}

.text-red {
  color: $red;
}

.text-orange {
  color: $orange;
}

.text-green {
  color: $green;
}

.text-blue {
  color: $blue;
}

.text {
  &-uppercase {
    text-transform: uppercase;
  }

  &-lowercase {
    text-transform: lowercase;
  }

  &-capitalize {
    text-transform: capitalize;
  }
  &-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.side-panel .wrapper select {
  line-height: 2;
}

// margin
.m-0 {
  margin: 0 !important;
}

.p-0 {
  padding: 0 !important;
}

.badge-status {
  padding: 0.35rem 2rem;
  font-size: 0.75rem;
  background-color: var(--bib-light);
  color: var(--bib-gray5);
  border-radius: 0.15rem;
}


.task-grid-section {
  /*background-color: white;*/
  flex: 0 0 18.75rem;
  padding: 10px;
  user-select: none;

  .section-drag-handle {
    cursor: grab;
  }

  /*&:not(:first-child) {
    border-left: 1px solid $gray4;
  }

  &:last-child {
    border-right: 1px solid $gray4;
  }*/

  .title {
    font-weight: 600;
  }

}

.msg__content {
  a { color: $primary; text-decoration: underline; display: initial; }
}

.mention {
  color: #a975ff;
  /*color: transparentize(purple, 0.33);*/
  background-color: rgba(169, 117, 255, .1);
  border-radius: .3rem;
  padding: .1rem .3rem;
  cursor: pointer;
}

.events-none {
  pointer-events: none;
}

@keyframes placeHolderShimmer{
    0%{
        background-position: -880px 0
    }
    100%{
        background-position: 880px 0
    }
}

.animated-background {
    animation-duration: 2.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: $gray2;
    background: linear-gradient(to right, #eeeeee 10%, #dddddd 18%, #eeeeee 33%);
    background-size: 880px 220px;
    height: 1rem;
    position: relative;
}

.gap-025 {
  gap: 0.25rem;
}

  .bib-datepicker,
  .vdp-datepicker {
    &.align-right {
      .vdp-datepicker__calendar { right: 0;}
    }
    .vdp-datepicker__calendar {
      width: 260px;
      font-size: $base-size;
      header span { height: 32px; line-height: 32px;}
      .cell { height: 32px; line-height: 32px;
        &.selected { background-color: $primary; color: white;
          &:hover { background-color: $primary-sub1;}
        }
       }
       .cell:not(.blank):not(.disabled).day:hover,
       .cell:not(.blank):not(.disabled).month:hover,
       .cell:not(.blank):not(.disabled).year:hover { border-color: transparent;}
    }
  }


@media screen and (max-width: 1600px) {
  .side-panel {
    max-width: $sidebar-width - 160px;
    width: 35rem;
  }
}
