@import '@/assets/variable.scss';

html,
body {
  font-family: $font-family;
}

.bg {
  &-orange {
    &-sub1 {
      background-color: rgba($orange, 0.35);
    }

    &-sub2 {
      background-color: rgba($orange, 0.25);
    }

    &-sub3 {
      background-color: rgba($orange, 0.15);
    }
  }
}

.sidebar select,
.sidebar input {
  font-size: 14px;
}

// basic tags
a {
  display: inline-block;
  color: $secondary;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: $secondary;
  }
}

ul {
  list-style: none;
}

// layout
.container {
  display: flex;
  padding: 0 1.5rem;
  flex-wrap: wrap;
}


/** layout **/
.row {
  display: flex;
  margin: 0 -.5rem;
}

[class*='col'] {
  padding: 0 .5rem;
}

@for $i from 1 through 12 {
  .col-#{$i} {
    max-width: #{ math.div(round(math.div(100%, 12) * $i * 10000), 10000) };
    flex: 0 0 #{ math.div(round(math.div(100%, 12) * $i * 10000), 10000) };
  }
}

.app-wrapper{
  &__content,
  .of-scroll-y {
    scrollbar-gutter: unset !important;
  }
}

.flex {
  &-shrink-0 {
    flex-shrink: 0;
  }

  &-shrink-1 {
    flex-shrink: 1;
  }
}

#__layout {
  .main {
    width: 100%;
    transition: width .2s;

    /*&.open-sidebar {
      width: calc(100% - #{$sidebar-width});
    }*/
  }
}

.header {
  position: fixed;
  top: 0;
  z-index: 10;
}

@keyframes slidein-right {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

.overflow {
  &-auto {
    overflow: auto;
  }
  &-x-auto {
    overflow-x: auto;
  }
  &-y-auto {
    overflow-y: auto;
  }
}

.side-panel {
  position: fixed;
  z-index: 15;
  right: 0;
  width: $sidebar-width;
  // max-width: $sidebar-width;
  top: 65px;
  bottom: 0;
  background-color: $white;
  box-shadow: -2px 2px 8px $secondary-sub4;

}

.side-panel {
  transition: transform .2s;
}

.open-sidebar .side-panel {
  // transform: translateX(0);
}

.drawer-enter-active {
  animation: slidein-right 0.2s;
}

.drawer-leave-active {
  animation: slidein-right 0.2s reverse;
}
.editable-input-grid {
  width: 99%;
  padding: 0.2rem 0.4rem;
  font-size: $font-size-lg;
  font-weight: 600;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  border-radius: 0.25rem;

  &:hover {
    border-color: $gray4;
  }

  &:focus {
    outline: none;
    border-color: $dark;
    box-shadow: 0 0 3px $dark-sub4;
  }

  &.error {
    border-color: $danger-sub1;
    color: $danger;

    &:focus {
      border-color: $danger-sub1;
      box-shadow: 0 0 3px $danger-sub2;
    }
  }

  &.sm {
    padding: 0.125rem 0.2rem;
    font-weight: normal;
    font-size: $font-size-sm;
    border-radius: 0.1rem;
  }

  &.loading {
    background-image: url('./static/spinner.svg');
    background-position: right center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.editable-input {
  width: 99%;
  padding: 0.2rem 0.4rem;
  font-size: $font-size-lg;
  font-weight: 600;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  border-radius: 0.25rem;

  &:hover {
    border-color: $gray4;
  }

  &:focus {
    outline: none;
    border-color: $dark;
    box-shadow: 0 0 3px $dark-sub4;
  }

  &.error {
    border-color: $danger-sub1;
    color: $danger;

    &:focus {
      border-color: $danger-sub1;
      box-shadow: 0 0 3px $danger-sub2;
    }
  }

  &.sm {
    padding: 0.125rem 0.2rem;
    font-weight: normal;
    font-size: $font-size-sm;
    border-radius: 0.1rem;
  }

  &.loading {
    background-image: url('./static/spinner.svg');
    background-position: right center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

// task bundle
.task-bundle {
  display: flex;
  padding-left: 0;
  background-color: $gray3;
  border: 1px solid $gray4;
}

.tasks:not(.list) {
  &:not(:first-of-type) {
    border-top: none;
  }

  &:last-of-type:not(:first-of-type) {
    border-bottom: none;
  }
}

.padding-sm .task-item {
  padding: 0 10px;
}

.divider {
  content: "";
  position: absolute;
  top: 0;
  width: 1px;
  height: 100%;
  background-color: $gray6;
}

.bundle-title {
  padding: 10px 16px;
  font-size: 13px;

  span {
    margin-left: 14px;
  }
}

.task-item {
  display: flex;
  position: relative;
  padding: 10px;
  font-size: 13px;
  border-right: 1px solid $gray4;
  align-items: center;

  &.task-name {
    width: 28%;
  }

  &.task-number {
    width: 30px;
    padding: 10px 11px;
  }

  &.task-status,
  &.task-priority,
  &.task-assignee,
  &.task-date {
    width: 16%;
  }

  .custom-control-label::before {
    left: 8px;
  }


}

// colors
.bg-red {
  background: $red;
}

.bg-green {
  background: $green;
}

.bg-orange {
  background: $orange;
}

.bg-blue {
  background: $blue;
}

.text-red {
  color: $red;
}

.text-orange {
  color: $orange;
}

.text-green {
  color: $green;
}

.text-blue {
  color: $blue;
}

.text {
  &-uppercase {
    text-transform: uppercase;
  }

  &-lowercase {
    text-transform: lowercase;
  }

  &-capitalize {
    text-transform: capitalize;
  }

  &-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.side-panel .wrapper select {
  line-height: 2;
}

// margin
.m-0 {
  margin: 0 !important;
}

.p-0 {
  padding: 0 !important;
}

.badge-status {
  padding: 0.35rem 2rem;
  font-size: 0.75rem;
  background-color: var(--bib-light);
  color: var(--bib-gray5);
  border-radius: 0.15rem;
}


.task-grid-section {
  /*background-color: white;*/
  flex: 0 0 18.75rem;
  padding: 10px;
  user-select: none;

  .section-drag-handle {
    cursor: grab;
  }

  /*&:not(:first-child) {
    border-left: 1px solid $gray4;
  }

  &:last-child {
    border-right: 1px solid $gray4;
  }*/

  .title {
    font-weight: 600;
  }

}

.msg__content {
  a {
    color: $primary;
    text-decoration: underline;
    display: initial;
  }
  p {
    margin-bottom: 3px;
  }
}

.mention {
  color: #a975ff;
  /*color: transparentize(purple, 0.33);*/
  background-color: rgba(169, 117, 255, .1);
  border-radius: .3rem;
  padding: .1rem .3rem;
  cursor: pointer;
}

.events-none {
  pointer-events: none;
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -880px 0
  }

  100% {
    background-position: 880px 0
  }
}

.animated-background {
  animation-duration: 2.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: $gray2;
  background: linear-gradient(to right, #eeeeee 10%, #dddddd 18%, #eeeeee 33%);
  background-size: 880px 220px;
  height: 1rem;
  position: relative;
}

.gap {
  &-025 {
    gap: 0.25rem;
  }

  &-01 {
    gap: 0.1rem;
  }
}

.resize-drag-handle {
  background-color: transparent;
  top: 0;
  right: 0;
  z-index: 44;
  width: 5px;
  font-size: 0.5rem;
  cursor: col-resize;
  transition: background 200ms;
  will-change: background-color;
  /*isolation: isolate;*/
  &:hover { background-color: $gray4; }
  
}

.gutter {
  background-color: $gray8;
  pointer-events: auto;
  // background-repeat: no-repeat;
  // background-position: 50%;
  
  &.gutter-horizontal {
    // background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
    cursor: col-resize;
    align-self: stretch;
    flex-shrink: 0;
  }
  &:hover {
    background-color: $primary-sub3;
  }
}

.picker-wrapper-two,
.input-wrapper-two {
  position: relative;
  display: inline-block;
  background-color: var(--bib-gray9);
  border: 1px solid transparent;
  &:hover { border-color: var(--bib-gray2); 
    .user-data { color: var(--bib-text);}
  }

  .picker-content {
    position: absolute;
    z-index: 55;
    left: -5px;
    top: -5px;
    min-height: fit-content;
    max-height: 30rem;
    min-width: calc(100% + 10px);
    background-color: $white;
    border: 1px solid $gray4;
    border-radius: 0.25rem;
    box-shadow: 0 2px 10px rgba(100, 100, 100, 0.25);
    li { min-width: max-content;}
  }

  .user-data {
    background-color: transparent;
    font-size: $base-size;
  }

  .picker-input {
    font-size: $font-size-sm;
    border-radius: 0.2rem;
    border: 1px solid $gray2;
    width: 100%;
    margin: 0.3rem 0;
    padding: 0.3rem 0.4rem;

    &:focus {
      outline: none;
      border-color: $gray6;
      box-shadow: 0 0 5px $gray5;
    }
  }

  .picker-list-wrap {}

}
.input-wrapper-two {
  input { 
    outline: none;
    border: 0 none;
    padding: 0.1rem  0.25rem;
    background-color: transparent;
    color: var(--bib-secondary);
    /*width: fit-content;
    flex: 0 0 auto;*/
    &:hover, &:focus {
      outline: none;
      color: var(--bib-text);
    }
  }
}

/*.bib-datepicker,
.vdp-datepicker {
  white-space: normal;
  &.align-right {
    .vdp-datepicker__calendar {
      right: 0;
    }
  }

  .vdp-datepicker__calendar {
    width: 290px;
    font-size: $base-size;

    header span {
      height: 36px;
      line-height: 36px;
    }

    .cell:not(.blank):not(.disabled).day:hover,
    .cell:not(.blank):not(.disabled).month:hover,
    .cell:not(.blank):not(.disabled).year:hover {
      border-color: transparent;
      background-color: $secondary-sub2;
    }

    .cell {
      height: 36px;
      line-height: 36px;
      border-left-width: 0;
      border-right-width: 0;
      border-bottom: 1px solid $light;

      &.selected {
        background-color: $secondary;
        color: white;

        &:hover {
          background-color: $secondary-sub1;
        }
      }

      &.day-header {
        color: $gray5;
        text-transform: uppercase;
        border-top: 1px solid $light;
        border-bottom-color: $gray6;
      }
    }

    header .prev::after {
      border-right: 9px solid $secondary;
    }

    header .next::after {
      border-left: 8px solid $secondary;
    }
  }
}*/

// .bib-tooltip { max-width: fit-content; z-index: 100000 }

@media screen and (max-width: 1600px) {
  .side-panel {
    max-width: $sidebar-width - 160px;
    width: 35rem;
  }
}

.ProseMirror-focused {
  outline: none !important;

}
.button--drop .menu details .wrapper{
  z-index: 6 !important;

}
.app-wrapper__navigation {
  overflow: hidden !important;
}

.detail-collapse__content {
  width: 100% !important;
  overflow-y: auto !important;
}

.visible-scrollbar,
.invisible-scrollbar,
.mostly-customized-scrollbar {
  display: block;
  width: 10px;
  overflow: auto;
  height: 8px;
}

.invisible-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Demonstrate a "mostly customized" scrollbar
 * (won't be visible otherwise if width/height is specified) */
.mostly-customized-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: transparent; /* or add it to the track */
}

/* Add a thumb */
.mostly-customized-scrollbar::-webkit-scrollbar-thumb {
  border: 2px solid transparent;
  border-radius: 20px;
  min-height: 100px;
  background: #e1d6d8;
}

.bib-collapse {
  display: none;
}

.shape-pill {
  border-radius: 100px;
}

.header-wrap { inset:0; z-index:5; width: 100%; pointer-events: none;
  // input { pointer-events: all; }
  .input_wrap { position: sticky; top: 0; width: 100%; height: 2rem; background-color: antiquewhite;}
  [data-table-col] {
    --rng-h: 1px;
    --rng-thumb-bgc: transparent;
    --rng-thumb-h: var(--th, 6rem);
    --rng-thumb-ico: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M15.5 8l-4.5 4.5v-3.5h-6v3.5l-4.5-4.5 4.5-4.5v3.5h6v-3.5l4.5 4.5z"></path></svg>');
    --rng-thumb-w: 2rem;

    background: transparent;
    box-sizing: border-box;
    font-family: inherit;
    height: 1px;
    margin: 0;
    outline: none;
    position: absolute;
    // position: sticky;
    // top: 0;
    width: 100%;
    pointer-events: auto;
  }
  [data-table-col]::-webkit-slider-thumb {
    /*background-color: var(--rng-thumb-bgc);
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: 80%;
    border: 0;*/
    cursor: ew-resize;
    height: var(--rng-thumb-h);  
    width: var(--rng-thumb-w);
  }
  [data-table-col]:focus-visible::-webkit-slider-thumb {
    --rng-thumb-bgc: rgb(0, 0, 0, 0.1);
    background-image: var(--rng-thumb-ico);
    outline: 2px solid rgb(0, 0, 0, 0.8)
  }
  [data-table-col]::-webkit-slider-runnable-track {
    background: transparent;
    height: var(--rng-h);
  }
  [data-table-col],
  [data-table-col]::-webkit-slider-runnable-track,
  [data-table-col]::-webkit-slider-thumb {
    /*-webkit-appearance: none;
    appearance: none;*/
  }

  /* Firefox */
  @-moz-document url-prefix() {
    [data-table-col] {
      top: calc(var(--rng-thumb-h) / 2);
    }
  }
  [data-table-col]::-moz-range-thumb {
    /*background-color: var(--rng-thumb-bgc);
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: 80%;
    border: 0;*/
    height: var(--rng-thumb-h);
    width: var(--rng-thumb-w);
    cursor: ew-resize;
  }
  [data-table-col]:focus-visible::-moz-range-thumb {
    --rng-thumb-bgc: rgb(0, 0, 0, 0.1);
    background-image: var(--rng-thumb-ico);
    outline: 2px solid rgb(0, 0, 0, 0.8);
  }

  .header-table { background-color: $gray9; top: 0; border-collapse: collapse; table-layout: fixed;  
    td, th { background-color: var(--gray9); border-left: 2px solid $gray2; border-right: 2px solid $gray2; overflow: hidden; white-space: nowrap;
      &:first-child { position: sticky; left: 0; z-index: 2; background-color: $gray9; border-left: 0 none; }
      &:last-child { border-right: 0 none;}
    }
    .sortingtrigger { pointer-events: all;}
  }
}
[data-table-parent] {
  position: relative;
}