$sidebar-size: 14px;

body {
    font-family: 'Lato';
}

.sidebar select,
.sidebar input {
  font-size: 14px;
}

a {
  display: inline-block;
  color: $secondary;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: $secondary;
  }
}

.custom-checkbox {
  cursor: pointer;

  svg {
    position: absolute;
    left: 33px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    visibility: hidden;
  }

  .custom-control-input:checked ~ .custom-control-label:before {
    border-color: #333;
  }

  .custom-control-input:checked ~ .custom-control-label svg {
    opacity: 1;
    visibility: visible;
  }

  &:hover &::before {
    background-color: $gray6;
  }
}

.custom-control-label {
  &::before {
    content: "";
    display: block;
    position: absolute;
    left: 1.9rem;
    top: 50%;
    width: 1.2rem;
    height: 1.2rem;
    transform: translateY(-50%);
    border-radius: 50%;
    color: #fff;
    border: 1px solid #333;
    background-color: #fff;
  }
}

.custom-control-input {
  position: absolute;
  opacity: 0;
}

.divider {
  content: "";
  position: absolute;
  top: 0;
  width: 1px;
  height: 100%;
  background-color: $gray6;
}

// task group
.task-group {
  min-height: 20rem;
}

.task {
  position: relative;
  display: flex;
  padding: 8px 0;
  font-size: 14px;
  align-items: center;
  border-top: 1px solid $gray6;

  &:last-child {
    border-bottom: 1px solid $gray6;
  }
}

.task-author {
  width: 25%;

  .avatar {
    margin-right: 5px;
  }
}

.task-options {
  position: absolute;
  top: 50%;
  right: 8px;
  font-weight: 600;
  transform: translateY(-50%);
}

.task-name {
  padding-left: 2.8rem;
  width: 50%;
}

.add-task {
  display: inline-block;
  margin: 9px 0 8px;

  svg {
    fill: #2ba026;
  }

  svg,
  span {
    vertical-align: middle;
  }

  span {
    font-size: 14px;
  }
}

// layout
.container {
  display: flex;
  padding: 0 1.5rem;
  flex-wrap: wrap;
}


/** layout **/
.row {
	display: flex;
	margin: 0 -.5rem;
}

[class*='col'] {
	padding: 0 .5rem;
}

@for $i from 1 through 12 {
    .col-#{$i} { 
		max-width: #{ math.div(round(math.div(100%, 12) * $i * 10000), 10000) }; 
		flex: 0 0 #{ math.div(round(math.div(100%, 12) * $i * 10000), 10000) }; 
	}
}
